
*{
  padding:'0';
  margin:'0';
  box-sizing: border-box;
  /* overflow:hidden; */
}
.parent{
  overflow:hidden !important;
}
html{
  background-color: #001220;

}
a{
  text-decoration: none;
  
}
:root{
  --base: #E34C67
}

body{
  margin: 0 !important;
}

.headingfontsize{
  font-size: clamp(4rem,8vw,8rem);
}
.invert { filter: invert(100%); }

.bg{ 
  aspect-ratio: 900/300;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.layer1{
  background-image: url("/layer1.svg");
}
.layer2{
  background-image: url("/layered2.svg");
}
.layer12{
  background-image: url('/layer12.svg');
}

.resumebg{
  background-color: #001220;
}

.container{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth; 
}

.section{
  scroll-snap-align: start;
  height: 100vh;
}

.container::-webkit-scrollbar {
  display: none;
}

.loop{
  animation: bgloop 5s infinite ease-in-out forwards;
 }


/* @keyframes bgloop {
  0% {  background-image: url('/loop1.svg');}
  25% { background-image: url('/loop2.svg');}
  50% { background-image: url('/loop3.svg');}
  90% { background-image: url('/loop4.svg');}
  100% { background-image: url('/loop1.svg');}
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slides{
  width: auto !important;
  height: 200px !important;
}

.linkhover{
  color: white;
  transition: color .5s ease;
}
.linkhover:hover{
  color: var(--base);
}